    <video id="video-bg-elem" autoplay="" loop="" muted="muted">
      <source src="<%= video_path('kepo_final_1.mp4') %>" type="video/mp4">   
    </video>

  <!-- </div> -->
  
<a style= "z-index: 1000; visibility:hidden !important;" id= "signinlah" type="button" class="" data-toggle="modal" data-target="#mySignin"></a>

  <div class="container" style="z-index: 500;">
    <!-- Trigger the modal with a button -->
            <!-- Modal -->
    <div class="modal" id="mySignin" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="background-color: #ececec;">
        <div class="modal-header">
          <a class="pull-right" href="/" style="font-size: 24px">&times;</a>
          <h4 class="modal-title">HELLO, KEPOCHI</h4>
        </div>
        <div class="modal-body">
			<div id="clearance" class="sign-in">
			  <h2><%= t(".title") %></h2>

			  <%= render partial: '/sessions/form' %>

			</div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
    </div>
  </div>

  <script type="text/javascript">

    var runthis = function(){
      document.getElementById('signinlah').click();
    };
    runthis();

  </script>
