 <!-- Contact -->
          <div class="container">
            <section id="contact">
              <!-- Social -->
                <div class="social column">
                  <h3>What's kepo?</h3>
                  <p>This is a boredom-killing app that enable users to post opinions/anything (option to post anonymously) in a particular area (within 10-km radius)</p>
                  <p>Whoever likes the post, KEPO (upvote) it. Posts that are KEPO’d a lot (highest upvote) will be prevalent to everyone within the area.</p>
                  <p>All posts will have an expiration time, KEPO it, 10 minutes will be added to the post! So, make it fun!! =) </p>
                  <strong>KEPO “Knowing Every Particular Object”</strong> 
                  (n.) <i>  /kay-poh/</i>
                  <li>Definition: Curious about other people’s business or concern.</li>
                  <p></p>
                  <strong>KEPOCHI</strong>
                  (n.) <i>  /kay-poh-chee/</i>
                  <li>Definition: A person who likes to KEPO.</li>
                  <p></p>
                  <h3>Follow Us</h3>

                  <ul class="icons">
                    <li><a href="#" class="color-change icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="color-change icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="color-change icon fa-instagram"><span class="label">Instagram</span></a></li>
                  </ul>
                </div>

              <!-- Form -->
                <div class="column">
                    <video width="320" height="320" id="video-intro" autoplay="" loop="">
                      <source src="<%= video_path('kepo_intro.mp4') %>" type="video/mp4">   
                    </video>
                </div>
            </section>
          </div>

<!--             <h3>Get in Touch</h3>
                  <form action="#" method="post">
                    <div class="field half first">
                      <label for="name">Name</label>
                      <input class="" name="name" id="name" type="text" placeholder="Name">
                    </div>
                    <div class="field half">
                      <label for="email">Email</label>
                      <input name="email" id="email" type="email" placeholder="Email">
                    </div>
                    <div class="field">
                      <label for="message">Message</label>
                      <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                      <li><input value="Send Message" class="button background-color-change" type="submit"></li>
                    </ul>
                  </form> -->