	<!-- <div class="background-wrap"> -->
	<video id="video-bg-elem" autoplay="" loop="" muted="muted">
      <source src="<%= video_path('kepo_final_1.mp4') %>" type="video/mp4">   
    </video>

<div class='content'>

</br>
</br>
</br>

	<center><div class="kepo-logo">
		<!-- <img src="kepo_logo.png" alt="kepo" height="250" width="250"> -->

		<%= image_tag("kepo_logo_round_edge.png", size: "350x350", alt: "kepo") %>


		<h1>Be a Kepochi</h1>

	<button class="btn btn-primary btn-lg" onclick="window.location.href='<%= sign_up_path %>'">Sign Up</button>
	<button class="btn btn-success btn-lg" onclick="window.location.href='<%= sign_in_path %>'">Sign In</button>
	</br>
	</br>
	<a href="#">Forget password?</a>

	</div></center>
	
	<div>
		
	</div>
	
</div>

