	<!-- <div class="background-wrap"> -->
	<video id="video-bg-elem" autoplay="" loop="" muted="muted">
      <source src="<%= video_path('kepo_final_1.mp4') %>" type="video/mp4">   
    </video>

<div class='content'>
</br>
</br>
</br>
	<center><div class="kepo-logo">
		<!-- <img src="kepo_logo.png" alt="kepo" height="250" width="250"> -->
		<%= image_tag("kepo_logo_round_edge.png", size: "350x350", alt: "kepo") %>
	</div></center>
	<h1>Be a Kepochi</h1>
</div>

