<button class="pull-right btn btn-default" aria-hidden="true" id="like-<%= post.id %>"> 
<%= link_to '<i class="fa fa-cloud" style="color: grey"> Kepos</i>'.html_safe, like_post_path(post), method: :put, remote: true %>
</button>