<button class="btn btn-danger btn-md" id="post-report-<%= post.id %>">
  <%= link_to '<i class="fa fa-thumbs-o-down" aria-hidden="true" style="color:white; font-weight:bold"> Report</i>'.html_safe, report_path(post_id: post.id), method: :post, data: { confirm: 'Report the post?' },  remote: true %>
</button>

