<button class="btn btn-default" aria-hidden="true" id="unlike-<%= post.id %>" style="background-color: #a06fda" > 
<%= link_to '<i class="fa fa-cloud" style="color: white"> Kepos</i>'.html_safe, unlike_post_path(post), method: :put, remote: true %>
</button>